/* .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  } */

/* .form-signin .checkbox {
    font-weight: 400;
} */

.table-row {
    cursor:pointer;
}
  


.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-master {
    margin-top: 2px;
    margin-bottom: 2px;
}

.sign-on {
    margin-top: 150px;
}

.sign-on-name {
    margin-top: 100px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
}

#home-content {
    background-color: #4E73DF;
}


/* In custom.css */
.card {
    /* background-color: #b6bfb8; */
    background-color: rgba(78, 115, 223, 0.5);
    border-color: #4e73df; /* Border color */
    color: #ffffff; /* Text color */
    border-radius: 10px; /* Optional: Add rounded corners to the card */
}

.card-header {
    background-color: #4e73df;
    color: #ffffff;
    border-radius: 10px 10px 0 0; /* Optional: Add rounded corners to the top of the card header */
}

.card-body {
    padding: 20px; /* Add some padding to the card body */
}

/* Customize the form elements' appearance */
.form-control {
    background-color: #ffffff; /* Form field background color */
    border-color: #4e73df; /* Form field border color */
    color: #4e73df; /* Form field text color */
}

/* Optional: Style the submit button */
.btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
    color: #ffffff;
}