/* .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  } */

/* .form-signin .checkbox {
    font-weight: 400;
} */

.table-row {
    cursor:pointer;
}


.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-master {
    margin-top: 2px;
    margin-bottom: 2px;
}

.sign-on {
    margin-top: 150px;
}

.sign-on-name {
    margin-top: 100px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
}

#home-content {
    background-color: #4E73DF;
}
